$font-roboto: 'Roboto', sans-serif;
$font-playfair: "Playfair Display", Georgia, "Times New Roman", serif;
$font-default: $font-roboto;

$grey: #757575;
$dark-red: #460b05;
$dark-grey: #141414;
$white: #fff;